body{
    margin: 0px;
    font-family:Audiowide;
    background-color: #444444;
}
a{
    text-decoration:none;
}
a:visited{
    color:cyan;
}
/* gorny pasek */
.toolbar{
    width:100%;
    height:2.5em;
    background-color:#C0C0C0;
    position:fixed;
    overflow: hidden;
}

p{
    display:inline;
    margin-right: 8vw;
    vertical-align:-2vh;
}
#nickname{
    color: #444444;
    margin-left: 4vw;
    margin-right:12vw;
    font-size:1.5em;
}
#listmenu{
    align:right;
    color:#555555;
    border-radius: 15px;
}

#listmenu:hover{
    color:black;
    cursor: pointer;
    border-bottom: 3px solid black;
    background-color: rgba(85, 85, 85, 0.1);
}
#listmenu:active{
    transition-duration: 5s;
}


/* naglowek ze zdjeciem */
#header{
    width: 100%;
    min-height: 100vh; /* 100 % wysokosci okna przegladarki */
    background-image: url("../images/tlo1.JPG");
    background-size: 100% 100vh;
    overflow: hidden;
    }

#title{
    font-family:Audiowide, Helvetica, sans-serif;
    color: white;
    font-size: 2.5em;
    line-height: 1.5em;
    padding: 9vh;
    text-align:center;
    overflow: hidden;

}

.rozdzial{
    width: 100%;
    min-height: 100vh;
    background-color:#444444;

}

#portfolio{
    background-color:#333333;
}

#omnie{
    background-color:#444444;
}

/* CV start*/
#cv{
    background-color:#555555;
    font-align: center;
}

#cvheader{
    height:3em;
    border:1px solid black;
    color: white;
    font-weight: 20px;
    font-size: 4em;
    text-align: center;
}

.cvbody{
    width:80%;
    min-height: 50vh;
    background-color:lightblue;
    margin-left:10%;
    margin-right:10%;
}

.cvbod:first-child{
    height:100%;
    width:60%;
    background-color:yellow;
    margin-right:10%;
}
.cvbod:nth-child(3){
    width:60%;
    background-color:orange;
    margin-right:10%;
}
.cvbod{

    min-width:20%;
    min-height:20vh;
    background-color:red;
    display:inline-block;
    line-height: 1cm;
}

#skala{
    width:100%;
    height:2em;
    border:1px solid black;
    background-color:yellow;
}














/* CV end*/
.kontakt{
    width:100%;
    height: 5em;
    background-color:lightblue;
    text-align:center;
}



#menu{
    list-style-type:none;
    margin: auto;
    padding:0;
    height:64px;
    width:380px;
    overflow: hidden;
}

#menu li{
    float:left;
    margin-left:30px;
}

#menu li:first-child {
    margin-left:0;
}

#menu li a{
    display:block;
    width:64px;
    height:64px;
    text-indent:-999999px;
    background-image:url('../images/duszkiok.png');
    overflow: hidden;
    background-repeat:no-repeat;
}
#menu #facebook a {}
#menu #youtube a { background-position:-64px 0px; }
#menu #instagram a { background-position:-128px 0px; }
#menu #linkedin a { background-position:-194px 0px; }
#menu #facebook a:hover { background-position:0px -64px; }
#menu #youtube a:hover { background-position:-64px -64px; }
#menu #instagram a:hover { background-position:-128px -64px; }
#menu #linkedin a:hover { background-position:-194px -64px; }

#testjq {
    height: 60px;
    width: 100px;
    border-radius: 5px;
    background-color: #69D2E7;
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    opacity: 0.5;
}




/*hobby  start*/
#hobby{
    background-color:#666666;
    height:50vh;
}
#hobbyinside{
    text-align:left;
}


.kafar{

    height: 4em;
    width: 100%;
    margin: auto;
    text-align:center;

}
.kaf:first-child{
    margin-left:10vw;
}
.kaf{
    height: 15vw;
    width: 15vw;
    background-color: #69D2E7;
    float: left;
    display:inline;
    margin-right: 5vw;
    margin-top: 0em;
    overflow:auto;
    text-align:center;
}



#hobbyopis{
    text-align:center;
}

#hobbyheader{
    text-align:center;
    color:white;
    font-size:1.5em;
    height:2.5em;
    border: 1px solid black;
    overflow:hidden;
}

/*zamykacz okienek*/
#square {
    float:left;
    margin-top:0em;
    margin-left:-3em;
    width:25px;
    height:25px;
    display:block;
    text-transform:uppercase;
    text-decoration:none;
    color:#f0f0f0;
    font-weight:bold;
    background:#000;
    text-align:center;
    font-size:22px;
    line-height:1.1em;
    box-shadow:0px 0px 2px 0px #666;
    -moz-box-shadow:0px 0px 2px 0px #666;
    -webkit-box-shadow:0px 0px 2px 0px #666;
    text-indent:1px;
    cursor: pointer;
}
/*hobby  end*/