body{
    margin: 0px;
    font-family:Audiowide;
    background-color: #444444;
    color: white;
    text-shadow:black 0px 0px 5px;
}
a{
    text-decoration:none;
}
a:visited{
    color:cyan;
}
/* gorny pasek */
.toolbar{
    width:100%;
    height:2.5em;
    background-color:#C0C0C0;
    position:fixed;
    z-index: 100;
    overflow: hidden;
    text-shadow:none;
}

p{
    display:inline;
    margin-right: 5vw;
    vertical-align:-2vh;
    cursor:pointer;
}
#nickname{
    color: #444444;
    margin-left: 4vw;
    margin-right:32vw;
    font-size:1.5em;
}
#listmenu{
    align:right;
    color:#555555;
    border-radius: 15px;
}

#listmenu:hover{
    color:black;
    cursor: pointer;
    border-bottom: 3px solid black;
    background-color: rgba(85, 85, 85, 0.1);
}
#listmenu:active{
    transition-duration: 5s;
}


/* naglowek ze zdjeciem */
#header{
    width: 100%;
    min-height: 100vh; /* 100 % wysokosci okna przegladarki */
    background-image: url("../images/tlo1.JPG");
    background-size: 100% 100vh;
    overflow: hidden;
    }

#title{
    font-family:Audiowide, Helvetica, sans-serif;
    color: white;
    font-size: 2.5em;
    line-height: 1.5em;
    padding: 9vh;
    text-align:center;
    overflow: hidden;

}

.rozdzial{
    width: 100%;
    min-height: 100vh;
    background-color:#444444;

}

#portfolio{
    background-color:#333333;
    min-height: 50vh;
    padding-top:2em;
}

#doswiadczenie{
    background-color:#444444;
}

/* CV start*/
#wyksztalcenie{
    background-color:#555555;
    font-align: center;
    padding-bottom:1em;
    padding-top:2em;
}

#cvheader{
    height:3em;

    color: white;
    font-weight: 20px;
    font-size: 4em;
    text-align: center;
}

.cvbody{
    width:80%;
    min-height: 50vh;
    /*background-color:lightblue;*/
    margin-left:5%;
    margin-right:5%;

}

.cvbod:first-child{
    height:100%;
    width:60%;
    /*background-color:yellow;*/
    margin-right:10%;
}
.cvbod:nth-child(3){
    width:60%;
    /*background-color:orange;*/
    margin-right:10%;
}

.cvbod{

    min-width:28%;
    min-height:20vh;
    display:inline-block;
    line-height: 1cm;
}

.skills{
    width:0.1cm;
    height:2em;
    border:1px solid black;
    background-color:#99FF99;
}



#test{
    width:100%;
    height:2em;
    display:inline;
    overflow:hidden;

}
/* Test tak aby zrobic ramke w ramke jedna cecha sie animuje a pusta zostaje zmniejszana
#cecha1{
    width:1%;
    height: 2em;
    background-color: orange;
    float:left;
}
#cecha2{
    width:99%;
    height: 2em;
    background-color: blue;
    float:right;
}
*/






/* CV end*/
.kontakt{
    width:100%;
    min-height: 5em;
    background-color: #9fda58;
    text-align:center;

}
/*tooltip dla Kontakt*/
label {
    display: inline-block; width: 5em;
  }
  fieldset div {
    margin-bottom: 2em;
  }
  fieldset .help {
    display: inline-block;
  }
  .ui-tooltip {
    width: 210px;
  }
/*end of tooltip for kontakt*/

#menu{
    list-style-type:none;
    margin: auto;
    padding:0;
    height:64px;
    width:380px;
    overflow: hidden;
}

#menu li{
    float:left;
    margin-left:30px;
}

#menu li:first-child {
    margin-left:0;
}

#menu li a{
    display:block;
    width:64px;
    height:64px;
    text-indent:-999999px;
    background-image:url('../images/duszkiok.png');
    overflow: hidden;
    background-repeat:no-repeat;
}
#menu #facebook a {}
#menu #youtube a { background-position:-64px 0px; }
#menu #instagram a { background-position:-128px 0px; }
#menu #linkedin a { background-position:-194px 0px; }
#menu #facebook a:hover { background-position:0px -64px; }
#menu #youtube a:hover { background-position:-64px -64px; }
#menu #instagram a:hover { background-position:-128px -64px; }
#menu #linkedin a:hover { background-position:-194px -64px; }

#testjq {
    height: 60px;
    width: 100px;
    border-radius: 5px;
    background-color: #69D2E7;
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    opacity: 0.5;
}




/*hobby  start*/
#hobby{
    background-color:#666666;
    min-height:100vh;
    padding-top:2.5em;
}
#hobbyinside{
    text-align:left;
}


.kafar{

    height: 4em;
    width: 100%;
    margin: auto;
    text-align:center;

}
.kaf:first-child{
    margin-left:10vw;
}
.kaf{
    height: 15vw;
    width: 15vw;
    background-color: #9fda58;
    float: left;
    display:inline;
    margin-right: 5vw;
    margin-top: 0em;
    overflow:auto;
    text-align:center;
    cursor: pointer;
}



#hobbyopis{
    text-align:center;
}

#hobbyheader{
    text-align:center;
    color:white;
    font-size:1.5em;
    height:2.5em;

    overflow:hidden;
}

/*zamykacz okienek*/
#square {
    float:left;
    margin-top:0em;
    margin-left:-3em;
    width:25px;
    height:25px;
    display:block;
    text-transform:uppercase;
    text-decoration:none;
    color:#f0f0f0;
    font-weight:bold;
    background:#000;
    text-align:center;
    font-size:22px;
    line-height:1.1em;
    box-shadow:0px 0px 2px 0px #666;
    -moz-box-shadow:0px 0px 2px 0px #666;
    -webkit-box-shadow:0px 0px 2px 0px #666;
    text-indent:1px;
    cursor: pointer;
}
/*hobby  end*/
h1, h2, strong{
    text-shadow:black 5px 5px 5px;
}



#map {

    width:100%;
    height:300px;
}






/*Doswiadczenie*/
#toglek{
    width: 100%;
    height: 100%;
    background: none;
    /*border: 1px solid #000;*/
    margin:auto;
}

#tog{
    cursor:ns-resize;
    text-decoration: underline;

}
#tog2{
    cursor:ns-resize;
    text-decoration: underline;

}




.ui-widget-header {
    background: #cedc98;
    border: 1px solid #DDDDDD;
    color: #333333;
    font-weight: bold;
}






/*Portfolio*/
#tabs{
    background-color: #333333;
}

.ui-tabs-vertical {
    width: 99%;
    margin-right:15em;
}

.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 12em;
}
.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;

}

.ui-tabs-vertical .ui-tabs-nav li a {
    display:block;
    }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
    }
.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: 79%;
    }

#tabs{
    font-family:Audiowide;
}

/*End of portfolio */

/* POP UP*/

.popup {
    position:               fixed;
    top:                    0;
    left:                   0;
    width:                  100%;
    height:                 100%;
    z-index:                1000;
    display:                none; /* domyślnie nie pokazujemy popupa */
}

.popup .bg {
    position:               absolute;
    top:                    0;
    left:                   0;
    width:                  100%;
    height:                 100%;
    z-index:                1;
    background:             #000;
    opacity:                0.7;
}

.popup .container {
    width:                  400px;
    height:                 300px;
    position:               absolute;
    z-index:                2;
    top:                    50%;
    left:                   50%;
    margin-top:             -150px; /* minus połowa wysokości */
    margin-left:            -200px; /* minus połowa szerokości */
    background:             #fff;
    -moz-border-radius:     10px;
    -webkit-border-radius:  10px;
    border-radius:          10px;
    -moz-box-shadow:        0 0 50px #000;
    -webkit-box-shadow:     0 0 50px #000;
    box-shadow:             0 0 50px #000;
}

.popup .close {
    width:                  13px;
    height:                 13px;
    display:                block;
    border:                 0;
    cursor:                 pointer;
    position:               absolute;
    top:                    10px;
    right:                  10px;
    text-indent:            -999em;
    overflow:               hidden;
    background:             url(../close.png) no-repeat;
}

.popup .content {
    margin:                 15px 25px 15px 15px;
    width:                  50vw;
    height:                 50vh;
    font:                   12px Audiowide, Arial, sans-serif;
    color:                  #444;
    overflow:               auto;
}

.SkillIcon{
    padding-top:20px;
    margin: auto;
    text-align:left;
}
.SkillIcon a{
    margin-right:3em;
}

.ui-tooltip {
    color: #9fda58;
}
.photo {
    width: 300px;
    text-align: center;
}
.photo .ui-widget-header {
    margin: 1em 0;
}
.map {
    width: 350px;
    height: 350px;
}
.ui-tooltip {
    max-width: 350px;
}