<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Grupa FABRIC action </h1>
<p>Grupa FABRIC<<A>action> powstała z potrzeby szerzenia wśród projektantów i architektów najnowocześniejszych myśli i technologi projektowych jakimi są narzędzia generatywne. Organizując cykle warsztatów o tematyce projektowania komputacyjnego, mamy na celu rozwijanie myśli projektowej młodych projektantów.
Działając przy Zakładzie Cyfrowych Technologii w Architekturze i Urbanistyce Politechniki Łódzkiej chcemy rozwijać metody projektowe o nowe narzędzia i procesy, wspomagające współczesnych architektów.
Założycielami grupy są:
    </p>
    <ul>
        <li><a href="https://www.facebook.com/profile.php?id=1307645121&fref=ts"> <em>Sebastian Białkowski</em></a></li>
        <li><a href="https://www.facebook.com/pankiewicz.mateusz?fref=ts"> <em>Mateusz Pankiewicz</em></a></li>
        </ul>

    <p>Powrot do strony glownej:
    <button type="submit" class="save btn btn-default"><a href="/">Powrot</a> </button></p>
</body>
</html>