<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
    <h1>Registration Form</h1>
    <form id="reg_form" method="POST" class="reg-form">{% csrf_token %}
            <!-- dla ukrytych warst -->
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <!-- dla wypelnianych warstw -->
            {% for field in form.visible_fields %}
                {{ field.errors }} </br>
                {{ field.help_text }}</br>
                {{ field }}</br>
                </br>
            {% endfor %}

        <!-- {{ form.as_p }} -->
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
</body>
</html>