{% extends '/Documents/Django/fabric/templates/knitting/basetest.html' %}
{% load staticfiles %}
{% block content %}





    <div id="pudelko">
      <div id="karta">
        <div id="przod"></div>
        <div id="tyl">
            <div style="text-align: center; font-size:0.9em; color: black">
                Co będziemy robić?
                Inspirując się bogatym dziedzictwem włókienniczym Łodzi,</br>
                uczestnicy będą eksperymentować z najnowszymi technikami projektowymi</br>
                oraz technologią druku 3D jako współczesnej maszyny tkackiej,</br>
                tworząc niepowtarzalne elementy architektoniczne.</br>
                Będziemy w niekonwencjonalny sposób korzystać</br>
                z możliwości najnowszych technologii fabrykacji cyfrowej,</br>
                napędzanych zaawansowanymi algorytmami stworzonymi przez uczestników.</br>
                Znajomość programowania jest zbędna.</br>
                Wszystko, czego potrzebujecie to pozytywne nastawienie i kreatywność,</br>
                reszty nauczycie się na warsztatach!</br>
            </div>

        </div>
      </div>
    </div>
    <!--<img src="{% static 'images/DigitalKnitting.jpg' %}" alt="Poster" width="40%" height="100%" border = "10"/>
    -->




{% endblock content %}
