{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>resume</title>
    <link rel="stylesheet" href="{% static "css/resume.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Audiowide&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="{% static "js/jquery.localscroll.js" %}"></script>
    <script src="{% static "js/jquery.jquery.scrollTo.js" %}"></script>
    </head>

<body>
        <script type="text/javascript"> 	$(document).ready(function() { 		$.localScroll(); 	}); </script>
    <div id="toolbar">      <script type="text/javascript"> 	$(document).ready(function() { 		$.localScroll(); 	}); </script>

        <p id="nickname"><a id="listmenu" href="#">NIKODEM</a></p>
        <p><a id="listmenu" href="#portfolio">PORTFOLIO</a></p>
        <p><a id="listmenu" href="#omnie">O MNIE</a></p>
        <p><a id="listmenu" href="#cv">CV</a></p>
        <p><a id="listmenu" href="#hobby">HOBBY</a></p>
        <p><a id="listmenu" href="#kontakt">KONTAKT</a></p>

    </div>

    <!-- naglowek -->
    <div id="header">
        <div id="title">
            Witaj, jestem</br>
            <h1>Nikodem Pankiewicz</br></h1>
            Geodeta</br>
            Programista</br>
            I wiele więcej</br>
            Poznaj mnie
        </div>



        <div>
          <ul id="menu">
            <li id="facebook"><a href="https://www.facebook.com/Nickhodem">Facebook</a></li>
            <li id="youtube"><a href="https://www.youtube.com/channel/UCSjFD4GMyuEPHYuLKDLGcrg">YouTube</a></li>
            <li id="instagram"><a href="https://instagram.com/nickhodem/">Instagram</a></li>
            <li id="linkedin"><a href="https://pl.linkedin.com/pub/nikodem-pankiewicz/b2/535/1a6">linkedin</a></li>
        </ul>
        </div>
    </div>












    <!-- Glowna czesc -->
    <div class="rozdzial" id="portfolio">
        <a name="portfolio"></a>
        portfolio


    </div>


    <div class="rozdzial" id="omnie">
        <a name="omnie"></a>
        O mnie


    </div>


    <div class="rozdzial" id="cv">
        <a name="cv"></a>
        CV


    </div>

    <div class="rozdzial" id="hobby">
        <a name="hobby"></a>
            <div id="hobbyinside">
                HOBBY
            </div>


    </div>

    





    <!-- Stopka -->
    <div id="kontakt">
        <a name="kontakt"></a>

    <a href="mailto: nikodempankiewicz@gmail.com">Zapraszam do współpracy</a>

    </div>







</body>
</html>



<!--
TODO
Duszki do fb, instagrama, fabric action i wszedzie indziej
z górnego menu przechodzenie plynne do niższych paneli !! localscroll.js
ze tych glownych 5 elementow zrobic taka odwracaną kostkę
zrobic cos zeby sie skalowalo a nie rozjezdzalo


-->