{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>resume</title>
    <link rel="stylesheet" href="{% static "css/resume.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Audiowide&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='/static/jquery-1.11.3.min.js' type="text/javascript"></script>
    <script src='/static/js/script.js' type="text/javascript"></script>

</head>

<body>


    <div class="toolbar">

        <p id="nickname"><a id="listmenu" href="#">NIKODEM</a></p>
        <p><a id="listmenu" href="#portfolio">PORTFOLIO</a></p>
        <p><a id="listmenu" href="#omnie">O MNIE</a></p>
        <p><a id="listmenu" href="#cv">CV</a></p>
        <p><a id="listmenu" href="#hobby">HOBBY</a></p>
        <p><a id="listmenu" href="#kontakt">KONTAKT</a></p>

    </div>

    <!-- naglowek -->
    <div id="header">
        <div id="title">
            Witaj, jestem</br>
            <h1>Nikodem Pankiewicz</br></h1>
            Geodeta</br>
            Programista</br>
            I wiele więcej</br>
            Poznaj mnie
        </div>



        <div>
          <ul id="menu">
            <li id="facebook"><a href="https://www.facebook.com/Nickhodem">Facebook</a></li>
            <li id="youtube"><a href="https://www.youtube.com/channel/UCSjFD4GMyuEPHYuLKDLGcrg">YouTube</a></li>
            <li id="instagram"><a href="https://instagram.com/nickhodem/">Instagram</a></li>
            <li id="linkedin"><a href="https://pl.linkedin.com/pub/nikodem-pankiewicz/b2/535/1a6">linkedin</a></li>
        </ul>
        </div>
    </div>

    <!-- Glowna czesc -->
    <div class="rozdzial" id="portfolio">
        <a name="portfolio"></a>
        portfolio


    </div>


    <div class="rozdzial" id="omnie">

        <a name="omnie"></a>

    </div>






    <div class="rozdzial" id="cv">
        <a name="cv"></a>
        <!-- geodezyjne-->
        <div id="cvheader"></br>Geodezja</div>
        <div class="cvbody">


            <div class="cvbod">
                <h2 style="text-indent: 1cm; ">Wykształcenie</h2>
                <p style="margin-left: 1cm;">"Jeśli sądzisz, że wykształcenie drogo kosztuje, spróbuj niewiedzy." </br><span style="margin-left:1cm;">-Benjamin Franklin</span></p>
            </div>



            <div class="cvbod">
                <img src="https://scontent-ams2-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10463959_10203499024220202_7587152697867851874_n.jpg?oh=169c7ccbfdbcb4f8b48ea0d56e97516f&oe=561CD5EA" alt="Here I should be" height="200">
            </div>
            <div class="cvbod">

                <ul>

                    <li>Studia magisterskie:
                        <ul><li>Akademia-Górniczo Hutnicza im. S. Staszica w Krakowie
                        Wydział Geodezji Górniczej i Inżynierii Środowiska
                        Specjalizacja: <strong>Geoinformatyka, Fotogrametria i
                        Teledetekcja Środowiska</strong></li></ul>
                    </li>
                    <li>Studia Inżynierskie
                        <ul>
                            <li>
                                <strong>Kierunek: Geodezja i Kartografia, WGGiIŚ AGH w Krakowie</strong>
                                    Praca dyplomowa nt. „Inwentaryzacja zabytkowego silnika Skoda 706RTO
                                    naziemnym skaningiem laserowym”.

                            </li>
                        </ul>

                    </li>
                    <li>Liceum
                        <ul>
                            <li><strong>XXVI Liceum Ogólnokształcące w Łodzi</strong>
                                im. Krzysztofa Kamila Baczyńskiego
                                profil: matematyczno-informatyczno-geograficzny

                            </li>
                        </ul>

                    </li>

                </ul>



            </div>


            <div class="cvbod">

                <div>podzialka</div>
                <div>ArcGis Desktop</div>
                <div class="skills" id="skalaArc"></div>
                <div>Microstation v8i</div>
                <div class="skills" id="skalaMicro"></div>
                <div>Faro Scene</div>
                <div class="skills" id="skalaFaro"></div>
                <div>QGiS</div>
                <div class="skills" id="skalaQgis"></div>
                <div>AutoCad</div>
                <div class="skills" id="skalaCad"></div>
                <div>Agisoft PhotoScan</div>
                <div class="skills" id="skalaAgis"></div>
                <div id="test"></div>
                <!--
                <div>Próba</div>
                <div id="test">
                    <div id="cecha1">
                    </div>
                    <div id="cecha2">
                    </div>

                </div>-->

            </div>



        </div>


        <a href="http://fabric.pythonanywhere.com/media/profile/2015/07/10/CV_Nikodem_Pankiewicz.pdf" download>
          <div style="width: 8em; background-color:#99FF99; color:black; margin-left: 20vw;border-radius:15px;"><img src="http://icons.iconarchive.com/icons/hopstarter/soft-scraps/16/Button-Download-icon.png" style="margin-left:5px; padding-top:3px;"> pobierz CV</div>
    </a>


    </div>



    <div class="rozdzial" id="hobby">
        <a name="hobby"></a>
            <div id="hobbyinside">


                <div id="hobbyheader"><p>Narciarstwo</p> <p>Rower</p> <p>Góry</p> <p>HydePark</p> </br></div>

                <div class="kafar">
                    <div class=kaf id="kaf1">
                        <h3>Narciarstwo</h3>
                            <p id="hobbyopis1">Sporty zimowe dodają mi o tej zimnej porze roku niesamowitych doznań.
                                Jeżdżąc na nartach mogę poczuć wymarzoną wolność, a pęd prędkości i szus śniegu buzuje mój testosteron w żyłach.
                                Jazdę na nartach rozpocząłem już w wieku 6 lat, podczas zimowisk na które co roku jeździłem z rodzicami i ich przyjaciółmi.
                                Podczas wyjazdów tworzyliśmy doskonałą grupę przyjaciół, a na stokach rywalizowaliśmy w jeździe.
                                Wyjazdy te będe wspominał z miłym odczuciem, że życie może być piękne.
                                Natomiast jazdę na snowboardzie rozpocząłem niedawno, dzięki przyjaciołom ze studiów.
                                Doskonalenie jazdy na desce jest niekończącą się przygodą, a towarzysząca przy tym adrenalina potrafi uzależnić.
                                Dodatkowo wszystkie widoki wokół napawają mnie niezwykłym poczuciem piękna tego świata.</br>
                                <a href="https://picasaweb.google.com/117615362177030779314/Alpy?authuser=0&feat=directlink">Przekonaj się sam!</a>
                            </p>


                    </div>

                    <div class=kaf id="kaf2">


                            <h3>Rower</h3>
                            <p id="hobbyopis2">Rower moim zdaniem to najlepszy sposób na poruszanie się i podróżowanie. Jest niesamowicie ciężko wymienić wszyscie jego zalety.
                                Jeżdżąc na rowerze w końcu mogę sobię powiedzieć, że czuję, że żyję. Pot ścieka po twarzy, w żyłach buzuje krew, ale w końcu jestem z siebie dumnu.
                                Jadąc często przypominam sobie opisy z książek o pierwszysch odkrywcach i konkwistadorach, którzy nie wiedzieli dokąd zaprowadzi ich ścieżka, którą nikt wczesniej jeszcze nie podążał.
                                Jadąc czuję się jak pierwotny człowiek, nie więdzący czego ma się spodziewać za najbliższym zakrętem.
                                Znowy muszę podziękować rodzicom, którzy na moje usilne prośby ugięli się i kupili mi wyczesany rower.
                                Z nim wiem, że mogę wszedzie dojechać. Czy to na bliskich szlakach województwa Łódzkiego, Małopolskiego czy wzdłuź Bałtyku.
                                Były to wspaniałe wycieczki i podróże. Planuję w jak najszybszej przyszłości pojechać na wymarzoną
                                podróż rowerem po Norwegii i pzejechać tam drogę trolli i drogę atlantycką</p>


                    </div>







                    <div class=kaf id="kaf3">
                        <h3>Góry</h3>
                            <p id="hobbyopis3">Bo w górach jest wszystko co kocham. Szczególnie w Polskich górach i szczególnie w Tatrach. Jest tam zarazem dużo spokoju jak i przyjaznych ludzi.
                                Piękna natura jak i niebiezpieczna. Jeśli się chce można tam wypocząć, jednak w większości przypadków wypoczywająć tam
                                nieżle się umęczymy, przez co (o ironio!), będziemy jeszcze bardziej wypoczęci!. W górach mógłbym żyć na codzień, mógłbym wędrować szlakami przez całe życie. I zapewniam
                                -nigdy by mi się to nie znudziło, ani nie znużyło. Staram się wyjeżdżać w góry conajmniej raz w roku.
                                Mocniej się jeszcze staram,aby być tam jak najdłużej i kontynuawać tradycję rozpoczętą jeszcze w przedszkolu.
                                </p>




                    </div>

                    <div class=kaf id="kaf4">
                        <h3>HydePark</h3>
                        <p id="hobbyopis4">
                            Czyli wszystko inne:
                            <br></br>
                            <a href="https://picasaweb.google.com/117615362177030779314/Londyn?authuser=0&feat=directlink">Zwiedź ze mną świat</a>
                            <br></br>
                            <a href="https://picasaweb.google.com/117615362177030779314/WiatO?authuser=0&feat=directlink">Światło</a>
                            <br></br>
                            <a href="https://picasaweb.google.com/117615362177030779314/ZimaWPeNi?authuser=0&feat=directlink">Zima</a>
                            <br></br>
                        </p>


                    </div>
                    <div id="square">&#10006;</div>



            </div>


    </div>
    </div>

    





    <!-- Stopka -->
    <div class="kontakt">
        <a name="kontakt"></a>

    <a href="mailto: nikodempankiewicz@gmail.com">Zapraszam do współpracy</a>

    </div>







</body>
</html>



<!--
TODO

z górnego menu przechodzenie plynne do niższych paneli !! localscroll.js
ze tych glownych 5 elementow zrobic taka odwracaną kostkę
zrobic cos zeby sie skalowalo a nie rozjezdzalo
Wstawic jako prace magisterka linka do bloga ktorego trzeba zrobic na podstawie pracy:D albo chociaz wrzucic pdf na serwer

-->