{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>resume</title>
    <link rel="stylesheet" href="{% static "css/resume.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Audiowide&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="{% static "js/jquery.localscroll.js" %}"></script>
    <script src="{% static "js/jquery.jquery.scrollTo.js" %}"></script>
    <script type="text/javascript" src="../script.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-2.1.4.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>

<body>
        <script type="text/javascript"> 	$(document).ready(function() { 		$.localScroll(); 	}); </script>

    <div class="toolbar">

        <p id="nickname"><a id="listmenu" href="#">NIKODEM</a></p>
        <p><a id="listmenu" href="#portfolio">PORTFOLIO</a></p>
        <p><a id="listmenu" href="#omnie">O MNIE</a></p>
        <p><a id="listmenu" href="#cv">CV</a></p>
        <p><a id="listmenu" href="#hobby">HOBBY</a></p>
        <p><a id="listmenu" href="#kontakt">KONTAKT</a></p>

    </div>

    <!-- naglowek -->
    <div id="header">
        <div id="title">
            Witaj, jestem</br>
            <h1>Nikodem Pankiewicz</br></h1>
            Geodeta</br>
            Programista</br>
            I wiele więcej</br>
            Poznaj mnie
        </div>



        <div>
          <ul id="menu">
            <li id="facebook"><a href="https://www.facebook.com/Nickhodem">Facebook</a></li>
            <li id="youtube"><a href="https://www.youtube.com/channel/UCSjFD4GMyuEPHYuLKDLGcrg">YouTube</a></li>
            <li id="instagram"><a href="https://instagram.com/nickhodem/">Instagram</a></li>
            <li id="linkedin"><a href="https://pl.linkedin.com/pub/nikodem-pankiewicz/b2/535/1a6">linkedin</a></li>
        </ul>
        </div>
    </div>












    <!-- Glowna czesc -->
    <div class="rozdzial" id="portfolio">
        <a name="portfolio"></a>
        portfolio
        <style>.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-48 { width: 48px; height: 48px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-48.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-48 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-48@2x.png); background-size: 60px 178px; } }</style>
<a href="http://instagram.com/nickhodem?ref=badge" class="ig-b- ig-b-48"><img src="//badges.instagram.com/static/images/ig-badge-48.png" alt="Instagram" /></a>


    </div>


    <div class="rozdzial" id="omnie">
        <a name="omnie"></a>
        O mnie


    </div>


    <div class="rozdzial" id="cv">
        <a name="cv"></a>
        CV


        <div id="testjq">

        </div>


    </div>

    <div class="rozdzial" id="hobby">
        <a name="hobby"></a>
            <div id="hobbyinside">
                HOBBY
            </div>


    </div>

    





    <!-- Stopka -->
    <div class="kontakt">
        <a name="kontakt"></a>

    <a href="mailto: nikodempankiewicz@gmail.com">Zapraszam do współpracy</a>

    </div>







</body>
</html>



<!--
TODO
Duszki do fb, instagrama, fabric action i wszedzie indziej
z górnego menu przechodzenie plynne do niższych paneli !! localscroll.js
ze tych glownych 5 elementow zrobic taka odwracaną kostkę
zrobic cos zeby sie skalowalo a nie rozjezdzalo


-->